{
    debug
    admin off
}

localhost, 127.0.0.1, vite-frontend-copy-production.up.railway.app, steam.seventh.space {
    root * ./dist
    file_server
    reverse_proxy /graphql/ :8000 {
        # disable_redirects
    }
}
