{
    debug
}

127.0.0.1, *.up.railway.app, steam.seventh.space {
    reverse_proxy /graphql/ {$BACKEND_HOSTNAME}:{$BACKEND_PORT}
    encode gzip
    root * ./dist
    try_files {path} /index.html
    file_server
}
