{
    debug
}

127.0.0.1 {
    encode gzip

    handle /graphql/ {
        reverse_proxy {$BACKEND_HOSTNAME}:{$BACKEND_PORT} {
            transport http {
                tls
                tls_insecure_skip_verify
            }
        }
    }

    handle {
        root * ./dist
        try_files {path} /index.html
        file_server
    }
}
