name: â“Check Backend

on:
  pull_request:

jobs:
  formatting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5

      - name: Install Dependencies
        run: |
          python -m pip install pip build --upgrade
          pip install .[dev]

      - name: Check Formatting
        run: python -m black . --check

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5

      - name: Install Dependencies
        run: |
          python -m pip install pip build --upgrade
          pip install .[dev]

      - name: Check Style
        run: python -m ruff check ./src

  test:
    runs-on: ubuntu-latest
    container: python:3.12.8-bookworm

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          python -m pip install pip build --upgrade
          pip install .[dev]

      - name: Test
        working-directory: src/
        env:
          PGHOST: postgres
          PGPORT: 5432
          PGUSER: postgres
          PGPASSWORD: postgres
          # Actual key is not required for tests
          STEAM_API_KEY: ABCDEFGHIJKLMNOPQRSTUVWXYZABCDEF
        run: python manage.py test
